{{- $description := .Description | default .Summary | default .Site.Params.description | plainify -}}
{{- $author := .Params.author | default .Site.Params.author.name -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "url" .Permalink
  "inLanguage" .Site.Language.Locale
  "name" (.Title | default .Site.Title)
  "description" $description
-}}
{{- if .IsHome -}}
  {{- $schema = merge $schema (dict "@type" "WebSite" "name" .Site.Title) -}}
{{- else if eq .Type "posts" -}}
  {{- $schema = merge $schema (dict
    "@type" "BlogPosting"
    "headline" .Title
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "wordCount" .WordCount
    "author" (dict "@type" "Person" "name" $author)
  ) -}}
  {{- if not .Date.IsZero }}{{ $schema = merge $schema (dict "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")) }}{{ end -}}
  {{- if not .Lastmod.IsZero }}{{ $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")) }}{{ end -}}
{{- else -}}
  {{- $pageType := "WebPage" -}}
  {{- if eq .RelPermalink "/about/" }}{{ $pageType = "AboutPage" }}{{ end -}}
  {{- if eq .RelPermalink "/contact/" }}{{ $pageType = "ContactPage" }}{{ end -}}
  {{- $schema = merge $schema (dict "@type" $pageType) -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
