{{- define "title" }}
    {{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Display the content from _index.md */ -}}
        {{- if .Content -}}
            <section class="section-hero page single special">
                <div class="section-kicker">Across podcasts, video, and writing</div>
                <div class="single-title animate__animated animate__pulse animate__faster">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="content" id="content">
                    {{- .Content | safeHTML -}}
                </div>
            </section>
        {{- end -}}

        {{- /* Display list of media entries */ -}}
        {{- if .Pages -}}
            <div class="section-heading">
                <div class="section-kicker">Latest additions</div>
                <h2 class="single-title animate__animated animate__pulse animate__faster">Recent Updates</h2>
            </div>
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title | emojify -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
