{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}
{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $image := .Params.heroImage -}}
{{- with $image }}
  {{- $path := strings.TrimPrefix "/" . -}}
  {{- with resources.Get $path }}{{ $image = .RelPermalink }}{{ else }}{{ $image = printf "/%s" $path }}{{ end -}}
{{- end -}}
<main class="study-page">
  {{ partial "study/hero.html" (dict
    "kicker" (.Params.heroKicker | default "About this work")
    "title" .Title
    "description" (.Description | default .Params.subtitle)
    "image" $image
    "imageAlt" (.Params.heroImageAlt | default .Title)
  ) }}
  <section class="study-section">
    <div class="study-prose" id="content">
      {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>
  </section>
  {{- partial "comment.html" . -}}
</main>
{{- end -}}
