{{- partial "init.html" . -}}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp" />
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        {{- partial "head/meta.html" . -}}
        {{- partial "head/link.html" . -}}
        {{- partial "head/seo.html" . -}}
    </head>
    <body theme="light" data-header-desktop="{{ .Site.Params.header.desktopMode }}" data-header-mobile="{{ .Site.Params.header.mobileMode }}">
        <div class="wrapper">
            {{- partial "header.html" . -}}
            <main class="main" id="main-content">
                <div class="container">
                    {{- block "content" . }}{{ end -}}
                </div>
            </main>
            {{- partial "footer.html" . -}}
        </div>

        {{- partial "assets.html" . -}}
    </body>
</html>
